*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#myApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 1em; */
    align-items: center;
    /* border: 1px solid red; */
    position:relative;
    padding-top: 1em;

}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    background-color: lightskyblue;
    width:100%;
    padding: 0.5em 0em;

}

.end-game{
    position: absolute;
  
    background-color: rgba(132, 111, 252, 0.9);
    width: 100%;
    z-index: 1;
    display:flex;
    opacity:0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
    color:white;
    /* border: 1px solid red; */
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 101%;
    translate: 0 -0.5em;
}

.wrapper{
    width: 80%;
    /* position: relative; */
}

p {
    margin: 0.5em 0em;
    line-height: 1.3em;
}

.options-container{
    margin-bottom: 1em;
}
.mc-options {
    translate: -2px;
    padding: 0.1em 2px;
    /* margin-bottom: 1em; */
}
.mc-options:hover {
    border: 2px dashed black;
    cursor:pointer;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

footer {
    margin-top: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background-color: lightskyblue;
    width:100%;
    padding: 3em 0em;
}